*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nen {
    background-image: url(../images/nền1.jpg);
    width: 100%;
    padding: 1px 0;
    min-height: 100vh;
}
table {
    border: 1px solid black;
}
table{
    width: 95%;
    margin: 34px;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(255, 249, 255);
}
table tr th {
    background-color: rgb(248, 249, 250) ;
}
.list-product h1 {
    padding: 15px !important;
    background-image: url(../images/quan-banh-ngot-ha-noi-ava.jpg);
    display: block;
    width: 100%;
    color: darkcyan;
    margin: 0;
}
.list-product .btn-main{
    text-align: right;
    padding-right: 30px;
}
.list-product .btn-main{
    background-color: rgb(248, 249, 250);
}
.list-product .btn-main button{
    border: none;
    background-color: rgb(248, 249, 250);
    padding: 10px;
}
.list-product .btn-main a {
    color: black;
    text-decoration: none;
}
.list-product .btn-main button:hover{
    background-color: green;
}
.list-product .btn-main a:hover{
    color: violet;
}